  .pacijenti {
    list-style-type: none;
    /*width: 22em;
    margin: 0px;*/
  }  

  .btn-patient{
      width: 150px;
      margin: 5px 0 5px 0;
  }

  .dropdown-toggle{
      margin: 5px 0 5px 0;
  }

  .pacijenti-list{
      float: left;
  }

  .pacijenti-detalji{
      float:right;
      /*border: 1px solid black;*/
      border-radius:5px;
      padding: 10px;
      margin-left: 100px;
  }

  .wrapper{
      display:inline-block;
  }
label {
  display: inline;
  width: 10em;
  margin: 2em 0 0 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

/*.selected {
    background-color: #CFD8DC !important;
    color: white;
  }

  .pacijenti li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 1em;
    height: 3em;
    border-radius: 4px;   
  }
  .pacijenti li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .pacijenti li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .pacijenti .text {
    position: relative;
  }
  .pacijenti .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1em 1em 0 1em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    height: 3em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    min-width: 150px;
  }
  .pacijenti button{
      height: 2.9em;
      border-radius: 4px;
      padding: 0 1em 0 1em;
  }*/