@{
    ViewData["Title"] = "Početna";
}


<h3>Početna stranica</h3>

<p>Web aplikacija za administraciju pacijenata.</p>

<a asp-area="" asp-controller="Home" asp-action="Pacijenti" class="btn btn-primary">Vidi moje pacijente</a>