<ul class="pacijenti">
    <li *ngFor="let pacijent of pacijenti" (click)="onSelect(pacijent)" [class.selected]="pacijent === selectedPacijent">
        <span class="pacijent-element">
            <span class="badge">{{pacijent.prezime}} {{pacijent.ime}}</span>
            <button class="delete-button" (click)="delete(pacijent, $event)">Izbriši</button>
        </span>
        
    </li>
</ul>
<button (click)="addPacijent()">Dodaj novog pacijenta</button>
<div *ngIf="addingPacijent">
    <my-patient-detail (close)="close($event)"></my-patient-detail>
</div>
<div *ngIf="selectedPacijent">
    <h2>
        {{selectedPacijent.prezime}} {{selectedPacijent.ime}}
    </h2>
    <button (click)="gotoDetail()">Vidi detalje</button>
</div>
